include *.py
include *.sh
include .coveragerc
include .bumpversion.cfg

include AUTHORS
include HOWTO
include CHANGELOG
include LICENSE
include README.rst
include tox.ini

recursive-include docs *.bat
recursive-include docs *.cpp
recursive-include docs *.hpp
recursive-include docs *.prophy
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

recursive-include prophy *.py

recursive-include prophy_cpp *.cpp
recursive-include prophy_cpp *.hpp
recursive-include prophy_cpp *.patch
recursive-include prophy_cpp *.prophy
recursive-exclude prophy_cpp/build *
exclude prophy_cpp/build
exclude prophy_cpp/waf
exclude prophy_cpp/wscript

recursive-include prophyc *.patch
recursive-include prophyc *.py
recursive-include prophyc *.txt
